


<ion-content>
    <div style="margin-left: 20%;margin-right: 20%;">
        <ion-card>
            <ion-card-title> 
            <ion-icon name="book-outline"></ion-icon>
            <ion-label> Fabulous stories</ion-label>
            </ion-card-title>
            <ion-card-content>
    <ion-searchbar  placeholder="Search by typing" [(ngModel)]="filter" (ngModelChange)="getItems(filter)">
        <ion-button  (click)="orderBy('year')"> <ion-icon slot="icon-only" name="calendar-outline"></ion-icon></ion-button>
        <ion-button  (click)="orderBy('title')"> <ion-icon slot="icon-only" name="card-outline"></ion-icon></ion-button>
        <ion-button  (click)="orderBy('author')"> <ion-icon slot="icon-only" name="people-outline"></ion-icon></ion-button>
    </ion-searchbar>
    <ion-grid *ngFor="let item of complete">
        <ion-row>
          <ion-col>
            {{ item.year }}
          </ion-col>
          <ion-col>
            <!--<ion-thumbnail>-->
              <img [src]="item.icon">
            <!--</ion-thumbnail>-->
          </ion-col>
          <ion-col>
            <ion-label style="font-size: smaller;"> <b>{{ item.title }}</b></ion-label>
            <br>
            <ion-label style="font-size: smaller;">{{ item.author }}</ion-label>
          </ion-col>
          <ion-col>
            {{  item.publisher }}
          </ion-col>
        </ion-row>
    </ion-grid>
            </ion-card-content></ion-card>
   </div>
</ion-content>
